.note-content{
	position: relative;
	padding:15px;
	cursor: pointer;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.note-content:hover{
	background:rgba(0,0,0,0.05);
}
.note-title{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.line-brd{
	position: absolute;;
	width: 5px;
    height: 100%;
    left: 0;
    top: 0;
}
.note-item{
	position: relative;
	display: block;
}
.deletenote{
	position: absolute;
	right:5px;
	bottom:15px;
	cursor: pointer;
}
.deletenote:hover{
	color:red;
}